body {
    background: linear-gradient(270deg, #f01818, #00ff3c, #0055ff);
    background-size: 600% 600%;
    -webkit-animation: Gradient 2s ease infinite;
    -moz-animation: Gradient 2s ease infinite;
    animation: Gradient 2s ease infinite;
    font-family: Arial, sans-serif;
    text-align: center;
}

@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1 {
    color: #333;
}

button {
    background-color: #a3a3a3;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#uploadArea {
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

#uploadButton {
    background-color: #a3a3a3;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}

#resultArea {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}
